.booklist-container .collection,
.collection {
  border: 0;
  border-radius: 20px;
  background: map-get($palette, light-grey);
  color: map-get($palette, main-white);
}

.collection .collection-item {
  border-bottom: 1px solid map-get($palette, lighter-grey);
}

.collection .collection-item.avatar {
  display: flex;
  align-items: center;
  background: map-get($palette, light-grey);
  color: map-get($palette, main-white);
}

.collection .collection-item.avatar .title,
.collection .collection-item.avatar p {
  color: map-get($palette, main-white);
}
