.booklist-container {
  margin-bottom: 6vh !important;
}

.booklist-container .collection,
.collection {
  border: 0;
  border-radius: 20px;
  background: map-get($palette, light-grey);
  color: map-get($palette, main-white);
}

.collection .collection-item {
  border-bottom: 1px solid map-get($palette, lighter-grey);
}

.collection .collection-item.avatar {
  background: map-get($palette, light-grey);
  color: map-get($palette, main-white);
}

.booklist-container > .collection .collection-item.avatar {
  background: map-get($palette, light-grey);
  color: map-get($palette, main-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  margin: 0 auto;
  padding: 1vh 2vw;
}

.avatar-img-book {
  width: 70px;
  height: 100px;
  border-radius: 8px;
}

.avatar-info-book {
  margin-left: 5vw;
}

.collection .collection-item.avatar .title,
.collection .collection-item.avatar p {
  color: map-get($palette, main-white);
}

.collection .collection-item.avatar .authors-item {
  color: map-get($palette, main-white);
  font-weight: 300;
}

span.badge {
  background: map-get($palette, main-yellow);
  color: map-get($palette, main-dark);
  box-shadow: 0 3px 2px map-get($palette, light-grey);
}

.book-badge {
  position: absolute;
  top: 0.5vh;
  right: 0;
  font-size: 0.8em !important;
  border-radius: 30%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
