.book-card {
  text-align: center;
  margin: 0 10px;
}

.book-cover {
  width: 120px;
  height: 180px;
}

.book-info {
  height: 70px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-title {
  font-size: 0.8em;
  font-weight: bold;
}

.book-authors {
  font-size: 0.6em;
}
