.explore-search-bar {
  width: 80%;
  margin: -20px auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.upload-cover-book > .ant-upload-list,
.upload-cover-book > .ant-upload-list-picture {
  display: none;
}

.preloader-wrapper.active {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.close-cover-search {
  font-size: 26px;
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  z-index: 100;
}

.slick-slider {
  position: relative;
  animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.book-container {
  margin: 3vh 0;
}

.book-card {
  text-align: center;
  margin: 0 10px;
}

.book-cover {
  width: 130px;
  max-width: 130px;
  height: 190px;
}

.book-info {
  height: 70px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-title {
  font-size: 0.8em;
  font-weight: bold;
}

.book-authors {
  font-size: 0.6em;
}

.genre-input {
  display: flex;
  flex-direction: row;
}

.genre-input .ant-select .ant-select-selection {
  font-size: 1em !important;
  width: 30vw !important;
  margin: 0 20px;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
