.screen-container {
  width: 90%;
  margin: 5vh auto;
}

.category-screen {
  margin: 5vh 0;
}

.category-title {
  font-size: 1.8em;
}

.book-card {
  text-align: center;
  margin: 0 10px;
}

.book-cover {
  width: 80px;
  height: 130px;
  box-shadow: 5px 5px 5px 0px map-get($color, cool);
}

.book-info {
  height: 80px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-title {
  font-size: 0.8em;
  font-weight: bold;
}

.book-authors {
  font-size: 0.6em;
}
