.follow-button {
  font-size: 0.8em;
  font-weight: bold;
  background: map-get($palette, dark-yellow);
}

.unfollow-button {
  font-size: 0.8em;
  font-weight: bold;
  background: map-get($palette, main-yellow);
}
