.landing-web {
  background: map-get($palette, main-dark);
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

@keyframes color-change-2x {
  0% {
    background: map-get($palette, main-dark);
  }
  100% {
    background: map-get($palette, light-grey);
  }
}

// .separation-line {
//   border-bottom: 1px solid map-get($palette, lighter-grey);
//   width: 50%;
//   margin: 0 auto;
// }

.landing-first-section {
  background: url('../images/landing-1.png');
  background-size: cover;
  height: 70vh;
}

.landing-logo {
  text-align: center;
  padding: 6vh 0;
  margin-bottom: 4vh;
}

.landing-logo img {
  max-width: 100vw;
  max-height: 70vh;
  width: 70vw;
}

.landing-screen {
  width: 100vw;
}

.landing-screen-text {
  text-align: left;
  padding: 2vh 10vw 2vh 6vw;
}

.landing-screen-title {
  color: map-get($palette, main-white);
  font-size: 2.2em;
  font-weight: 900;
  line-height: 6vh;
  margin-bottom: 4vh;
}

.landing-section-title {
  color: map-get($palette, main-yellow);
  font-weight: 900;
  font-size: 1.8em;
  text-align: center;
}

.landing-section-subtitle {
  color: map-get($palette, main-white);
  font-size: 1.2em;
  font-weight: 500;
  line-height: 4vh;
  text-align: center;
}

.landing-screen-text p {
  font-size: 1.4em;
}

.catalog-text {
  padding: 2vh 6vw;
  margin: -4vh 0 4vh;
}

.chart-text {
  padding: 2vh 6vw;
  margin: 2vh 0 4vh;
}

.second-landing {
  background: map-get($palette, main-dark);
  padding: 7vh 0;
}

.third-landing {
  padding: 7vh 0;
  background: map-get($palette, light-grey);
}

.chart-landing {
  height: 30vh;
}

.buddies-screen {
  background: map-get($palette, main-dark);
  padding: 7vh 0;
}

.fifth-landing {
  background: map-get($palette, light-grey);
  padding: 7vh 0;
}

.landing-buddies {
  margin-bottom: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.landing-buddies img {
  width: 45%;
}

.landing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4vh auto;
}

.landing-buttons button {
  color: map-get($palette, main-dark);
  width: 32vw;
}

.reg-button {
  background-color: map-get($palette, main-yellow);
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@media (min-width: 1000px) and (max-width: 1799px) {
  .landing-web {
    background: map-get($palette, main-dark);
  }

  .landing-screen {
    width: 100vw;
  }

  .landing-first-section {
    height: 80vh;
  }

  .landing-logo {
    text-align: center;
    padding: 6vh 0;
    margin-bottom: 4vh;
  }

  .landing-logo img {
    max-height: 30vh;
    width: 30vw;
  }

  .landing-screen-text {
    text-align: left;
    padding: 0;
  }

  .first-landing {
    padding: 20vh 2vw 4vh 4vw;
  }

  .landing-screen-title {
    font-size: 2.6em;
    font-weight: 900;
    line-height: 4vh;
    margin-bottom: 6vh;
  }

  .landing-screen-text p {
    font-size: 1.6em;
  }

  .landing-section-title {
    font-size: 2em;
  }

  .landing-section-subtitle {
    font-size: 1.4em;
  }

  .second-landing,
  .third-landing,
  .buddies-screen,
  .fifth-landing {
    padding: 7vh 10vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .second-landing > .category-screen {
    width: 50vw;
    height: 50vh;
  }

  .second-landing > .catalog-text {
    margin: 4vh 0 0 4vw;
    width: 50vw;
  }

  .second-landing > .slick-slider {
    width: 50vw;
  }

  .chart-text {
    margin: 2vh 4vw 0 0;
    width: 40vw;
  }

  .chart-landing {
    order: 2;
    height: 30vh;
    width: 40vw;
    margin: 0 auto;
  }

  .buddies-screen {
    height: 50vh;
  }

  .landing-buddies {
    height: 40vh;
    width: 40vw;
  }

  .buddies-text {
    margin: 2vh 0 0 2vw;
    width: 40vw;
  }

  .fifth-landing {
    height: 40vh;
    padding: 7vh 10vw 7vh 20vw;
  }

  .landing-buttons button {
    width: 20vw;
  }
}
