.landing-web {
  background: linear-gradient(
    to bottom right,
    map-get($palette, main-dark),
    map-get($palette, light-grey)
  );
  background-size: cover;
  height: 100vh;
}

.landing-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-logo {
  text-align: center;
  padding: 8vh 0;
}

.landing-logo img {
  max-width: 100vw;
  max-height: 70vh;
  width: 60vw;
}

.landing-buttons {
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
}

.landing-buttons button {
  color: map-get($palette, main-dark);
  width: 30vw;
}

.reg-button {
  background-color: map-get($palette, dark-yellow);
  margin: 1vh 0;
}

.log-button {
  background-color: map-get($palette, main-yellow);
  margin: 1vh 0;
}
