.landing-web {
  background: url('../images/mobile3.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  padding: 10vw;
}

.landing-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.landing-logo {
  text-align: center;
}

.landing-logo img {
  max-width: 400px;
  max-height: 400px;
  width: 60vw;
}

.landing-buttons {
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
}

.landing-buttons button {
  color: #fff;
  width: 50vw;
}

.reg-button {
  background-color: map-get($color, cool);
  margin: 1vh 0;
}

.log-button {
  background-color: map-get($color, vivid);
  margin: 1vh 0;
}
