.pages-read-container {
  width: 40%;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
}

.pages-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 0;
}

.pages-input input[type='number'] {
  font-size: 1.8em;
  text-align: center;
  width: 50px;
  margin: 0 10px;
}

.confirm-pages {
  width: 70%;
  margin: 1vh auto;
  background: map-get($color, cool);
}

.chart-section {
  margin: 8vh 0 5vh;
}

.chart-input {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.chart-input h2 {
  margin-right: 4vw;
}
