nav {
  background: map-get($color, vivid);
}

//BASIC TOP NAV

.basic-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid map-get($color, cool);
}

.basic-nav-list {
  display: flex;
  text-decoration: none;
  list-style: none;
}

.basic-nav-item {
  padding: 0 2vw;
}

//USER NAVBAR

.usernavbar {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  background: #fff;
  border-top: 1px solid #000;
}

.usernavbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.usernavbar-container .active .usernavbar-item {
  background: map-get($color, light);
}

.usernavbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.usernavbar-item-icon {
  object-fit: cover;
}

.usernavbar-item-title {
  color: #000;
}
