nav {
  background: map-get($color, vivid);
}

//BASIC TOP NAV

.basic-nav {
  padding: 5px 10px;
  border-bottom: 1px solid map-get($color, cool);
}

.basic-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  width: 100%;
  height: 100%;
}

.basic-nav-logo {
  height: 50px;
}

//USER NAVBAR

.usernavbar {
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  background: #fff;
  border-top: 1px solid #000;
}

.usernavbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.usernavbar-container li {
  height: 100%;
  width: 100%;
}

.usernavbar-container .active .usernavbar-item {
  background: map-get($color, soft-blue);
}

.usernavbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  height: 100%;
  width: 100%;
}

.usernavbar-item-icon {
  object-fit: cover;
}

.usernavbar-item-title {
  font-size: 1.2em;
  color: #000;
  margin: 0;
}
