// Variables
$color: (
  vivid: #e2474b,
  dark-blue: #2f3a56,
  cool: #406d96,
  soft-blue: #a8d0da,
  light: #d8e8e8
);

$palette: (
  main-yellow: #ffbb43,
  dark-yellow: #a98038,
  main-dark: #292929,
  light-grey: #353535,
  main-white: #fafafa
);
