.profile-card {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: map-get($palette, light-grey);
  padding: 1.5em;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-content {
  h4,
  p {
    color: map-get($palette, main-white);
  }
}

.profile-avatar-edit {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.profile-avatar-img,
.card.horizontal .card-image img {
  border-radius: 50%;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  width: 90px;
  height: 90px;
}

.upload-pic-button {
  margin-top: 10px;
}

.profile-info {
  margin-left: 10px;
}

.profile-form-group {
  margin: 10px 0;
}

.ant-input-affix-wrapper .ant-input:not(:last-child) {
  margin: 0 auto;
  box-sizing: border-box;
}

.profile-form-group input {
  width: 70%;
  margin: 0 auto;
}

.profile-form-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: map-get($palette, dark-yellow);
}

.profile-group-submit {
  display: flex;
}

.cancel-button {
  background-color: map-get($palette, light-grey);
  margin-right: 5px;
}

.update-button,
.edit-button {
  background-color: map-get($palette, dark-yellow);
  margin-left: 5px;
}

.follow-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  margin: -20px 0 0;
  padding: 40px 0;
  box-sizing: border-box;
}

.follow-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.follow-content p {
  margin: 0;
}

.follow-title {
  font-size: 1.2em;
  font-weight: bold;
}
