.profile-card {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  padding: 8px;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-avatar-edit {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.profile-avatar-img,
.card.horizontal .card-image img {
  border-radius: 50%;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  width: 120px;
  height: 120px;
}

.profile-info {
  margin-left: 10px;
}

.profile-form-group {
}
.ant-input-affix-wrapper input {
  margin: 0 auto;
  box-sizing: border-box;
}

.profile-form-group input {
  width: 70%;
  margin: 0 auto;
}

.profile-form-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: map-get($color, cool);
}

.profile-group-submit {
  display: flex;
}

.cancel-button {
  background-color: map-get($color, soft-blue);
  margin-right: 5px;
}

.update-button,
.edit-button {
  background-color: map-get($color, cool);
  margin-left: 5px;
}
