.profile-card {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: map-get($palette, light-grey);
  padding: 1em 1.5em;
}

.profile-card-edit {
  flex-direction: column;
  justify-content: center;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  margin-top: 15px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-content {
  h4,
  p {
    color: map-get($palette, main-white);
  }
}

.profile-card > .card-stacked > .card-content {
  padding: 2vh 2vw !important;
  font-weight: 300;
}

.profile-link {
  position: absolute;
  top: 0;
  right: 0;
}

.profile-avatar-img,
.card.horizontal .card-image img {
  border-radius: 50%;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  width: 90px;
  height: 90px;
}

.follow-container {
  margin: 1vh 0 !important;
  padding: 2vh 0 !important;
  border-radius: 0 !important;
  border-top: 1px solid map-get($palette, lighter-grey) !important;
}

.upload-pic-button {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.profile-info {
  margin-left: 10px;
}

#profile-form {
  width: 90%;
  margin: 0 auto;
}

.profile-form-group {
  margin: 10px 0;
}

.ant-input-affix-wrapper .ant-input:not(:last-child) {
  margin: 0 auto;
  box-sizing: border-box;
  color: map-get($palette, main-white);
  font-size: 1.2em;
  font-weight: 600;
}

.ant-input-affix-wrapper .ant-input-suffix {
  color: map-get($palette, main-white);
}

.profile-form-group input {
  width: 70%;
  margin: 0 auto;
}

.profile-avatar-edit {
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.profile-form-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.profile-avatar-img-edit {
  border-radius: 50%;
  flex-shrink: 0;
  width: 90px;
  height: 90px;
}

.ant-upload-list,
.ant-upload-list-picture {
  width: 80%;
  margin: 0 auto;
  color: map-get($palette, main-white) !important;
  border-radius: 20px;
}

.ant-upload-list-item i {
  color: map-get($palette, main-white) !important;
}

.ant-upload button,
.ant-upload-select button,
.ant-upload-select-picture button {
  background: map-get($palette, light-grey) !important;
  color: map-get($palette, main-white) !important;
  border: 1px solid map-get($palette, main-white) !important;
}

.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: map-get($palette, dark-yellow);
}

.profile-group-submit {
  display: flex;
}

.cancel-button {
  background-color: map-get($palette, light-grey);
  color: map-get($palette, main-white) !important;
  margin-right: 5px;
}

.update-button,
.edit-button {
  background-color: map-get($palette, main-yellow);
  color: map-get($palette, main-dark);
  margin-left: 5px;
}

.follow-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  margin: -20px 0 0;
  padding: 40px 0;
  box-sizing: border-box;
}

.follow-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.follow-item a {
  color: map-get($palette, main-white) !important;
}

.follow-content p {
  margin: 0;
}

.follow-title {
  font-size: 1.2em;
  font-weight: bold;
}
