.reg-title {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4vh auto;
}

.reg-container {
  height: 100vh;
  width: 80vw;
}

.reg-form {
  display: flex;
  flex-direction: column;
}

.reg-form .form-item {
  width: 70%;
  margin: 2vh auto;
}

.form-item-submit {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.reg-form input {
  border-radius: 8px;
  border: 1px solid map-get($color, cool);
  margin: 1vh 1vw;
  height: 4vh;
}

.reg-form i {
  margin-right: 2vw;
}

.reg-form .error {
  font-size: 0.7em;
  color: map-get($color, vivid);
  text-align: left;
  margin: 0.5vh;
  margin-left: 12px;
}

.next-button {
  background-color: map-get($color, cool);
  width: 20vw;
  margin: 0 auto;
}

/////////Second Register

.register-books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.register-book-item {
  width: 140px;
  height: 200px;
  margin-bottom: 10px;
}

.register-book-item img {
  width: 100%;
  height: 100%;
  box-shadow: (0 0 8px map-get($color, cool));
}

.register-book-active {
  filter: drop-shadow(0 0 8px map-get($color, vivid));
  opacity: 0.8;
}

.post-button {
  @extend .next-button;
  margin: 20px auto;
  background-color: map-get($color, vivid);
}

.disabled-button {
  opacity: 0.5;
}
