.reg-title {
  text-align: center;
  color: map-get($palette, main-white);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.reg-container {
  height: auto;
  width: 80vw;
}

.reg-form {
  display: flex;
  flex-direction: column;
}

.reg-form .form-item {
  width: 80%;
  margin: 2vh auto;
}

.form-item-submit {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.reg-form input {
  border-radius: 8px;
  border: 1px solid map-get($palette, dark-yellow);
  margin: 1vh 1vw;
  height: 4vh;
}

.reg-form i {
  margin-right: 2vw;
}

.reg-form .error {
  font-size: 0.7em;
  color: map-get($palette, main-yellow);
  text-align: left;
  margin: 0.5vh;
  margin-left: 12px;
}

.next-button {
  background-color: map-get($palette, main-yellow);
  color: map-get($palette, main-dark);
  width: 20vw;
  margin: 0 auto;
}

/////////Second Register

.choose-register-title {
  font-size: 1.2em;
  text-align: center;
  color: map-get($palette, main-white);
  margin-bottom: 20px;
}

.register-books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.register-book-item {
  width: 140px;
  height: 200px;
  margin-bottom: 3vh;
}

.register-book-item img {
  width: 100%;
  height: 100%;
}

.register-book-active {
  filter: drop-shadow(0 0 4px map-get($palette, main-yellow));
  opacity: 0.9;
}

.post-button {
  @extend .next-button;
  margin: 4vh auto 8vh;
  background-color: map-get($palette, main-yellow);
  width: 40vw;
  padding: 1vh 3vw !important;
}

.disabled-button {
  opacity: 0.2;
}
