@import './presets';
@import './landing';

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    45deg,
    rgba(47, 58, 86, 1) 0%,
    rgba(64, 109, 150, 1) 100%
  );
}

.my-button {
  border-radius: 8px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 1vh 2vw;
  text-decoration: none;
}

// block element modifier
// .head__logo--red
// .head__burger--close
// .head__burger--open

// .head {
//   &__burger {
//     margin:20px;
//     &--close {
//       color: red;
//     }
//     &--open {
//     }
//   }
// }
