@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import './_presets';
@import './_navbar';
@import './_landing';
@import './_register';
@import './_bookdetail';
@import './_explore';
@import './_profile';
@import './_motivation';
@import './_booklist';
@import './_friends';

html,
body {
  overflow: auto;
}

html a,
button {
  color: map-get($palette, dark-yellow);
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  color: map-get($palette, main-white);
}

.screen-wrapper {
  background: map-get($palette, main-dark);
  display: flex;
}

.screen-container {
  width: 90%;
  margin: 40px auto 80px;
}

.category-screen {
  margin: 5vh 0;
}

.category-title {
  font-size: 1.5em;
  font-weight: 700;
  color: map-get($palette, main-white);
  margin-bottom: 15px;
}

.section-title {
  font-size: 1.4em;
  font-weight: 900;
  color: map-get($palette, main-white);
  margin-bottom: 10px;
}

.collection {
}

.my-button {
  border-radius: 8px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 1vh 2vw;
  text-decoration: none;
  cursor: pointer;
}
